<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
	
	<typeAliases>
		<typeAlias type = "com.ch.tickethub.dto.Person" alias = "Person"/>
		<typeAlias type = "com.ch.tickethub.dto.Place" alias = "Place"/>
		<typeAlias type = "com.ch.tickethub.dto.Publisher" alias = "Publisher"/>
		<typeAlias type = "com.ch.tickethub.dto.Work" alias = "Work"/>
		<typeAlias type = "com.ch.tickethub.dto.Genre" alias = "Genre"/>
		<typeAlias type = "com.ch.tickethub.dto.Round" alias = "Round"/>
		<typeAlias type = "com.ch.tickethub.dto.Grade" alias = "Grade"/>
		<typeAlias type = "com.ch.tickethub.dto.GradeBenefit" alias = "GradeBenefit"/>
		<typeAlias type = "com.ch.tickethub.dto.GradeRule" alias = "GradeRule"/>
		<typeAlias type = "com.ch.tickethub.dto.MainBanner" alias = "MainBanner"/>
		<typeAlias type = "com.ch.tickethub.dto.Member" alias = "Member"/>
		<typeAlias type = "com.ch.tickethub.dto.RoundCasting" alias = "RoundCasting"/>
		<typeAlias type = "com.ch.tickethub.dto.Seat" alias = "Seat"/>
		<typeAlias type = "com.ch.tickethub.dto.SeatGroup" alias = "SeatGroup"/>
		<typeAlias type = "com.ch.tickethub.dto.RoundSeat" alias = "RoundSeat"/>
		<typeAlias type = "com.ch.tickethub.dto.SeatDetail" alias = "SeatDetail"/>
		<typeAlias type = "com.ch.tickethub.dto.Reservation" alias = "Reservation"/>
		<typeAlias type = "com.ch.tickethub.dto.SeatGrade" alias = "SeatGrade"/>
		<typeAlias type = "com.ch.tickethub.dto.DiscountDetail" alias = "DiscountDetail"/>
		<typeAlias type = "com.ch.tickethub.dto.Review" alias = "Review"/>
		<typeAlias type = "com.ch.tickethub.dto.ReReview" alias = "ReReview"/>
		<typeAlias type = "com.ch.tickethub.dto.HotWork" alias = "HotWork"/>
		<typeAlias type = "com.ch.tickethub.dto.OpeningWork" alias = "OpeningWork"/>
		<typeAlias type = "com.ch.tickethub.dto.GenreRanking" alias = "GenreRanking"/>
		<typeAlias type = "com.ch.tickethub.dto.BestReview" alias = "BestReview"/>

	</typeAliases>

	<mappers>
		<mapper resource = "com/ch/tickethub/config/mybatis/PersonMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/PlaceMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/PublisherMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/WorkMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/GenreMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/RoundMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/GradeMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/GradeBenefitMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/GradeRuleMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/MainBannerMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/MemberMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/RoundCastingMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/SeatMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/SeatGroupMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/RoundSeatMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/ReservationMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/DiscountDetailMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/ReviewMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/ReReviewMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/HotWorkMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/OpeningWorkMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/GenreRankingMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/BestReviewMapper.xml"/>
		
	</mappers>

</configuration>