<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type = "com.ch.tickethub.dto.Person" alias = "Person"/>
		<typeAlias type = "com.ch.tickethub.dto.Place" alias = "Place"/>
		<typeAlias type = "com.ch.tickethub.dto.Publisher" alias = "Publisher"/>
		<typeAlias type = "com.ch.tickethub.dto.Work" alias = "Work"/>
		<typeAlias type = "com.ch.tickethub.dto.Genre" alias = "Genre"/>
		<typeAlias type = "com.ch.tickethub.dto.Round" alias = "Round"/>
	</typeAliases>

	<mappers>
		<mapper resource = "com/ch/tickethub/config/mybatis/PersonMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/PlaceMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/PublisherMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/WorkMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/GenreMapper.xml"/>
		<mapper resource = "com/ch/tickethub/config/mybatis/RoundMapper.xml"/>
	</mappers>
	
</configuration>