<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Grade">

	<sql id="sql_select_grade">
		select grade_id as gradeId, grade_code as gradeCode, grade_name as gradeName, description from grade
	</sql>

	<select id="selectGradeAll" resultType="Grade">
		<include refid="sql_select_grade"/> order by grade_id asc
	</select>
	
	<select id="selectByGradeId" resultType="Grade" parameterType="int">
		<include refid="sql_select_grade"/> where grade_id = #{value}
	</select>
</mapper>