<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GradeRule">
	<select id="selectRulesByGradeId" parameterType="int" resultType="GradeRule">
		select rule_id as ruleId, grade_id as gradeId, rule_type as ruleType, months_window as monthsWindow,
		threshold, description from grade_rule
		where grade_id = #{value}
		order by rule_id asc
	</select>
</mapper>