<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Person">
	<insert id="insert" parameterType="Person">
		insert into person(person_name, profile_url)
		values(#{person_name}, #{profile_url})
		
		<selectKey keyColumn="person_id" resultType="int" order="AFTER" keyProperty="person_id">
			select last_insert_id() as person_id
		</selectKey>
	</insert>
	
	<select id="selectAll" resultType="Person">
		select person_id, person_name, profile_url from person
		order by person_id desc
	</select>
	
	<select id="select" resultType="Person">
		select person_id, person_name, profile_url from person
		where person_id = #{person_id}
		order by person_id desc
	</select>
	
	<delete id="delete" parameterType="int">
		delete from person where person_id = #{person_id}
	</delete>
	
	<update id="update" parameterType="Person">
	    update person 
	    set person_name = #{person_name},
	        profile_url = #{profile_url}
	    where person_id = #{person_id}
	</update>
	
</mapper>