<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Person">
	<insert id="insert" parameterType="Person">
		insert into Person(person_name, profile_url)
		values(#{person_name}, #{profile_url})
	</insert>
	<select id="selectAll" resultType="Person">
		select person_id, person_name, profile_url from Person
		order by person_id desc
	</select>
	
</mapper>