<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Place">
	<insert id="insert" parameterType="Place">
		insert into Place(place_name, address, latitude, longitude)
		values(#{place_name}, #{address}, #{latitude}, #{longitude})
	</insert>
	<select id="selectAll" resultType="Place">
		select place_id, place_name, latitude, longitude from Place
		order by place_id desc
	</select>
	
</mapper>