<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Place">
	<insert id="insert" parameterType="Place">
		insert into Place(place_name, address, latitude, longitude)
		values(#{place_name}, #{address}, #{latitude}, #{longitude})
	</insert>
	
	<sql id="sql_select">
		select place_id, place_name, address, latitude, longitude from Place
	</sql>
	
	<select id="selectAll" resultType="Place">
		<include refid="sql_select"/>
		order by place_id desc
	</select>
	
	<select id="select" resultType="Place">
		<include refid="sql_select"/>
		where place_id=#{place_id}
		order by place_id desc
	</select>
	
</mapper>