<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="RoundCasting">
	<insert id="insert" parameterType = "RoundCasting">
		insert into round_casting(round_id, person_id, role) values(#{round.round_id}, #{person.person_id}, #{role})
	</insert>
	
	<resultMap id="RoundCastingMap" 		type="RoundCasting">
		<id column="round_casting_id" 		property="round_casting_id"/>
		<result column="round_id"				property="round.round_id"/>
		<result column="role"						property="role"/>
		
		<association column="person_id"		property="person"	javaType="Person"
		select = "Person.select"/>
	</resultMap>
	
	<select id="selectByRoundId" parameterType="int" resultMap="RoundCastingMap">
		select round_casting_id, person_id, role from round_casting
		where round_id = #{round_id}
	</select>
</mapper>