<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Round">

	<insert id="insert" parameterType="Round">
		insert into Round(round_date, round_start_time, work_id, place_id)
		values(#{round_date}, #{round_start_time}, #{work.work_id}, #{place.place_id})
		
		<selectKey keyColumn="round_id" resultType="int" order="AFTER" keyProperty="round_id">
			select last_insert_id() as round_id
		</selectKey>
	</insert>
	
	<resultMap id="RoundMap" type="Round">
		<id column="round_id"						property="round_id"/>
		<result column="round_date"			property="round_date"/>
		<result column="round_start_time"	property="round_start_time"/>
		<result column="work_id"					property="work.work_id"/>
		<result column="is_cancelled"			property="is_cancelled"/>
		
		<association column="place_id"	property="place"		javaType="Place"
		select = "Place.select"/>
		
		<collection column="round_id"
			select="RoundCasting.selectByRoundId"
			property="roundCastingList"
			javaType="java.util.List"
			ofType="RoundCasting"
		/>
		
	</resultMap>
	
	<select id="selectByWorkId" parameterType="int" resultMap="RoundMap">
		select round_id, round_date, work_id, is_cancelled
		, DATE_FORMAT(round_start_time, '%H:%i') as round_start_time
		from round where work_id = #{work_id}
		order by round_date, round_start_time
	</select>
	
</mapper>