<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Seat">

    <!-- ===================== -->
    <!-- ResultMap -->
    <!-- ===================== -->
    <resultMap id="seatMap" 						type="Seat">
        <id property="seat_id" 						column="seat_id"/>
        <result property="place_id" 				column="place_id"/>
        <result property="seat_group_id"		column="seat_group_id"/>
        <result property="seat_x" 					column="seat_x"/>
        <result property="seat_y" 					column="seat_y"/>
        <result property="seat_name" 			column="seat_name"/>
        <result property="floor" 					column="floor"/>
        <result property="seat_state" 			column="seat_state"/>
    </resultMap>

    <!-- ===================== -->
    <!-- 좌석 등록 -->
    <!-- useGeneratedKeys pk값 생성시 들고와서 keyProperty 에 넣어주라 -->
    <!-- ===================== -->
    <insert id="insert" parameterType="Seat" useGeneratedKeys="true" keyProperty="seat_id">
        insert into seat (place_id,seat_group_id,seat_x,seat_y,seat_name,floor,seat_state) 
        values (#{place_id},#{seat_group_id},#{seat_x},#{seat_y},#{seat_name},#{floor},#{seat_state})
    </insert>

    <!-- ===================== -->
    <!-- 좌석 1건 조회 -->
    <!-- ===================== -->
    <select id="select" parameterType="int" resultMap="seatMap">
        select seat_id,place_id,seat_group_id,seat_x,seat_y,seat_name,floor,seat_state 
        from seat where seat_id = #{seat_id}
    </select>

    <!-- ===================== -->
    <!-- 공연장별 좌석 조회 -->
    <!-- ===================== -->
    <select id="selectByPlace" parameterType="int" resultMap="seatMap">
        select seat_id,place_id,seat_group_id,seat_x,seat_y,seat_name,floor,seat_state 
        from seat where place_id = #{place_id} order by seat_group_id,seat_name
    </select>

    <!-- ===================== -->
    <!-- 그룹별 좌석 조회 -->
    <!-- ===================== -->
    <select id="selectByGroup" parameterType="int" resultMap="seatMap">
        select seat_id,place_id,seat_group_id,seat_x,seat_y,seat_name,floor,seat_state 
        from seat where seat_group_id = #{seat_group_id} order by seat_name
    </select>

    <!-- ===================== -->
    <!-- 좌석 활성 / 비활성 -->
    <!-- ===================== -->
    <update id="updateSeatState">
        update seat
        set seat_state = #{seat_state}
        where seat_id = #{seat_id}
    </update>

    <!-- ===================== -->
    <!-- 좌석 삭제 -->
    <!-- ===================== -->
    <delete id="delete" parameterType="int">
        delete from seat
        where seat_id = #{seat_id}
    </delete>

</mapper>
