<?xml version="1.0" encoding="UTF-8"?>
<!--
	[ 로그 레벨 수준 ]
	1) TRACE	-	자세히 모두 출력, 특히 루프문의 내부 흐름을 체크할 때 예)for문에서 3번째 i가 현재값이 무엇인지...
						마치 현미경처럼 애플리케이션 내부의 정보를 알고싶을 경우.. (현장에서는 거의 쓸일이 없음)
	2) DEBUG 	- 	개발 단계에서 가장 많이 사용
						로직의 흐름 확인 용, 로직의 주요 분기, 실행부가 메서드에 진입/종료
	3) INFO		-	개발단계보다는 운영쪽에서 많이 씀
						서버의 시작/종료 여부 등을 출력, 주요 이벤트 발생을 알기 위해..
						개발에 사용할 경우 사용자가 로그인을 성공했는지, 주문을 완료했는지(큼지막한 이벤트..)
	4) WARN	-	당장 장애는 아니지만, 곧 문제가 될 수 있는 소지가 있는 경우 (노란볼)
	5) ERROR	-	예외가 발생한 경우, 요청 처리 실패 시.. (빨간불)
	6) FATAL		-	서비스 계속 못하는 수준, 서버 동작 불가 수준
		
-->
<configuration>
	<!-- 콘솔에 출력할 용도로만 설정, 참고로 파일로 저장도 가능함 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- 개발자가 원하는 패턴을 명시
				%-5level : 왼쪽으로 정렬하여, 총 5자 간격으로 폭을 확보하되, 이 5자는 로그레벨의 명이 오게..
				%logger : 로거명을 말하며, 주로 패키지를 포함한 클래스의 경로를 로거명으로 사용
								com.ch.shop.controller~~
				%msg%n : 개발자가 로그 메서드에 출력한 문자열 및 줄바꿈
			-->
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %-5level	[%thread] %logger{40} - %msg%n 
			</pattern>
		</encoder>
	</appender>
	
	<!--
		어느 수준으로 로그를 사용할지 레벨을 등록
		개발자가 로그레벨을 선언하면, 로그는 그 선언된 수준 이상의 레벨이 사용됨..
		주석처리 안 하더라도 그냥 수준이상이면 사용됨
	-->
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
	
	<!--
			아래처럼 패키지별로 로그 레벨을 설정하면, 더 구체적일 수록 로그의 적용 우선순위가 높아지므로 
			위에서 root 로그레벨을 선언하였다 할지라도, 아래의 DEBUG 로그가 우선적용된다.
	 -->
	<!-- <logger name="어떤 클래스에 대해서 적용할지 패키지" level="DEBUG"/> -->
	<logger name="com.ch.tickethub" level="DEBUG"/>
</configuration>